# Ignore everything
*

# Do not ignore .gitignore file
!/.gitignore

# Allow specific folders and their contents
!/mako/
!/mako/**
!/hypr/
!/hypr/**
!/waybar/
!/waybar/**
!/ranger/
!/ranger/**
!/rofi/
!/rofi/**

