# Ignore everything
*
**/*.css
# Do not ignore .gitignore file
!/.gitignore
!/README.md
# Allow specific folders and their contents
!/mako/
/mako/*.css
!/mako/**
!/hypr/
!/hypr/**
!/waybar/
/waybar/*.css
!/waybar/**
!/ranger/
!/ranger/**
!/rofi/
!/rofi/**
!/wal/
!/wal/**
!/nvim/
!/nvim/**
!/ghostty/
!/ghostty/**
/ghostty/themes/
/ghostty/themes/**
